<!DOCTYPE html>
<html>

<head>
  <title>Working with Enums in Angular components</title>
  <meta charset="UTF-8">
  <meta name="author" content="Shane McGowan">
  <meta name="description" content="How I use Enums in Angular">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/blog-post.css">
  <link rel="stylesheet" href="/styles/code.css">
</head>

<body>
  <a href="/">home</a> /
  <a href="/blog.html">blog</a>

  <span class="blog-post-date">
    <i>April 29th, 2020</i>
  </span>

  <header>
    <img src="/assets/blog/2020/2020-04-29_header.webp" />
    <h1>Working with Enums in Angular components</h1>
    <i>How I use Enums in Angular</i>
  </header>

  <p>
    This is a short guide on using Enums in an Angular application.
    Below you will see how to:
  </p>
  <ul>
    <li>Reference an Enum in your <code>component.html</code> templates</li>
    <li>Itterate over an enum using <code>*ngFor</code> and the <code>keyvalue</code> pipe</li>
    <li>Conditionally show content using an Enum and <code>*ngIf</code></li>
    <li>Get all the values of an enum as an <code>Array&lt;sting&gt;</code></li>
  </ul>

  <h2>Intro</h2>
  <p>
    <i>You can skip the next block of text if you just want to get the actual details (I respect that)</i>
  </p>

  I love using Enums in TypeScript as I am a terrible developer with a terrible memory and let my editor's auto complete
  do 80% of my job. Enums let you avoid using strings and having to remember what string values you used. They also
  allow you to lock down the values a property can be, so that a user can't just submit any value they want. So if you
  aren't using them, start using them, and if you are already using them, use them more, use them to a fault. Be the
  Enums you want to see in the world.

  <h2>Example use of an enum for those unfamiliar</h2>

  <code class="block javascript">
<pre>
// This is our PropertyType enum
// We give each value a string value otherwise PropertyType.House would return 0, Property.Apartment would return 1, and so on
enum PropertyType {
  House = 'House',
  Apartment = 'Apartment',
  Flat = 'Flat',
  Studio = 'Studio'
}

// Our class which has a 'type' property.
// We want to lock type down to a set of predefined values
class Property {
  constructor(
    public monthlyPrice: number,
    public type: PropertyType
  ) { }
}

// Creates a property successfully
const property = new Property(1250, PropertyType.Apartment);

// Will display an error from our linter and in the Angular CLI
const property = new Property(1250, PropertyType.RANDOM_VALUE);

</pre>
</code>

  <p>
    Enums can be used in your Angular templates. This is handy for situations like avoiding a hard coded set of values
    for a dropdown menu or displaying different content based on your component state. In my opinion, this pairs very
    nicely with reactive forms.
    To make an Enum accessible in your Angular template you need to first store it in a variable in our component.ts
    file. For this example, we will create a simple reactive form to create a <code>Property</code>
  </p>

  <code class="block javascript">
<pre>
// Declaring our Enum. The Enum could also be imported from another file if needed 
enum PropertyType {
  House = 'House',
  Apartment = 'Apartment',
  Flat = 'Flat',
  Studio = 'Studio'
}

@Component({
  selector: 'app-property-component',
  templateUrl: './property.component.html'
})
export class PropertyComponent{

  // Make a variable reference to our Enum
  ePropertyType = PropertyType;

  // Build our form
  form: FormGroup;
  type: FormControl;
  price: FormControl; // This is only here to make the form look more l3g1t

  constructor(private formBuilder: FormBuilder){
    this.form = this.formBuilder.group({
      type: [null, [Validators.required]],
      price: [0, [Validators.required]]
    });

    this.type = this.form.controls.type as FormControl;
    this.price = this.form.controls.price as FormControl;
  }
}
</pre>
</code>

  Then in our <code>property.html</code> template, we can utilize our Enum as follows. We will use the
  <code>keyvalue</code> pipe. This takes our <code>PropertyType</code> enum (referenced as <code>ePropertyType</code>)
  and turns it into a <code>KeyValue</code> array, which we can iterate over with <code>*ngFor</code>. As we declared
  our <code>PropertyType</code> with a string value (ie. <code>Apartment = 'Apartment'</code>) the
  <code>KeyValue.key</code> and <code>KeyValue.value</code> will both contain the string value of the enum so we can use
  either.

  We then can use our Enum as part of an <code>*ngIf</code> to conditionally display a message.

  <code class="block html">
<pre>
<form [formGroup]="form">
  <!-- Property type form control -->
  <label for="propertyType">Property Type</label>
  <select id="propertyType" [formControl]="type">
    <option [ngValue]="null">Select one...</option>
    <option *ngFor="let type of ePropertyType | keyvalue" [ngValue]="type.value">{{type.value}}</option>
  </select>

  <!-- Property price form control -->
  <label for="propertyPrice">Property Price</label>
  <input id="propertyPrice" class="form-control" type="number" [formControl]="price" placeholder="Street...">

</form>

<!-- Conditionally display a message if a certain PropertyType is selected (or not selected) -->
<ng-container *ngIf="type.value !== ePropertyType.House">
Wouldn't you prefer a nice garden?
</ng-container>
</pre>
</code>

  <h2> How to get an array of strings from an Enum </h2>
  A nice little trick to get an array of strings
  <i>
    (<code>string[]</code>, or <code>Array&lt;string&gt;</code> if you're a cool boi like myself)_ from an Enum is to
    use use <code>Object.keys</code> and <code>Array.filter</code>
  </i>

  <code class="block javascript">
<pre>
// Declare your enum
enum PropertyType {
  House = 'House',
  Apartment = 'Apartment',
  Flat = 'Flat',
  Studio = 'Studio'
}

/* Get an array of keys, filtering out number values
*  as the enum object itself is as follows
*  { 0: 'House', 1: 'Apartment' ...}
*/
const propertyType: Array<string> = Object.keys(PropertyType).filter(key => isNaN(+key));
</pre>
</code>

  <h2>Conclusion</h2>
  Enums are lit, use them more often.

  <footer>
    <p>
      👋 Feel free to reach out to me at my email <a href="mailto:hi@shanemcgowan.com">hi@shanemcgowan.com</a> 👋
    </p>
  </footer>

</body>

</html>